@page
@model IndexModel

<article id="fullpage">
    <header class="section text-white text-uppercase">
        <video class="header__background" src="/videos/background.mp4" loop muted data-autoplay playsinline data-keepplaying></video>

        <svg class="header__canvas header-canvas">
            <rect class="header-canvas__rectangle" width="66.67%" height="62%"></rect>
        </svg>

        <div class="header__content container-fluid">
            <p>Закрытое<br />общество</p>
            <h1 class="title">Агентство<br /><span class="broken broken_white">разбитых</span><br />сердец</h1>
            <p class="text-end">Скоро</p>
        </div>

        <partial name="_Mouse" />
    </header>

    <section class="section">
        <header class="slide text-center">
            <div class="container">
                <h2 class="title">Как бороться с <span class="broken broken_black">разбитым</span> сердцем?</h2>
                <p class="spacing">Вот несколько советов</p>
            </div>
        </header>

        // Требуется рефакторинг
        <ul>
            <li class="slide">
                <div>
                    <strong class="title">Не держите в себе эмоции</strong>
                    <p>Выражение эмоций отлично уменьшает количество стресса в организме.</p>
                </div>

                <div>
                    <strong class="title">Ограничьте себя от лишних эмоций</strong>
                    <p>Если чувствуете себя разбитым, то постарайтесь отгородить себя от лишних эмоций. Это ни в коем случае не значит, что нужно полностью отгорождаться от людей.</p>
                    <p>Попробуйте понять, общение с какими людьми может вам помочь, оказать поддержку, а какие - могут быть слишком обременительны.</p>
                </div>
            </li>

            <li class="slide">
                <div>
                    <strong class="title">Больше двигайтесь</strong>
                    <p>Разбитое сердце заставляет многих людей чувствовать ошеломление, замкнутость.</p>
                    <p>Двигайтесь. Вставайте с кровати. Примите душ. Погуляйте на улице. Подышите свежим воздухом и почувствуйте лучи солнца на своём лице.</p>
                </div>

                <div>
                    <strong class="title">Соблюдайте режим сна</strong>
                    <p>Если вам нужны лекарства, чтобы помочь вам уснуть, изменить настроение или управлять сердцем, не стыдитесь - вы переживаете значительный стресс.</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="section song text-white text-center text-sm-start">
        <div class="container">
            <h2 class="title">хостел <span class="d-none d-sm-inline">—</span> <br />агентство разбитых сердец</h2>

            <p>Текст о том, что мы написали эту песню, чтобы обратить большее внимание к данной проблеме. Будем рады, если подпишитесь и будете следить.</p>

            <div>
                <a class="button" href="https://sfm.click/zwMJu" target="_blank">Слушать</a>
                <a class="button" href="https://vk.com/hostelberga" target="_blank">ВКонтакте</a>
                <a class="button" href="https://youtube.com/@@hostelberga">YouTube</a>
            </div>
        </div>
    </section>

    <footer class="section footer text-white text-center">
        <div class="container">
            <h2 class="title">Об этом нужно говорить</h2>
            <p class="spacing">Какой-либо текст, рассказывающий о том, что не стоит держать эмоции в себе, так как это до добра не доведёт, и что нет ничего страшного, если ты обратишься к психологу.</p>
        </div>
    </footer>
</article>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#fullpage').fullpage({
                //options here
                autoScrolling: true,
                scrollHorizontally: true
            });
        });
    </script>
}
