* {
    --red: #b0191d;
    --black: #333;
    --white: #d4d3d7;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-width: 320px;
}

body {
    color: var(--black);
    font-size: 14px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

.title {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: .35em;
    line-height: 1.26;
    margin: 30px 0;
}

@media (min-width: 768px) {
    .title {
        font-size: 46px;
        letter-spacing: .4em;
        margin: 48px 0;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 56px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 62px;
        margin: 60px 0;
    }
}
