* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}


@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
}

    a::after {
        height: 1px;
        display: block;
        content: '';
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s cubic-bezier(.455,.03,.515,.955);
        background-color: rgba(255,255,255,.5);
    }

    a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }


    a.icon::after {
        display:none;
    }



.delimiter {
    user-select: none;
    color:#333;
}




.page-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    z-index: 50;
}


.page-footer {
    position: fixed;
    color: white;
    padding-bottom: 15px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.page-footer__navigation {
    display: flex;
    margin: 5px -5px;
    font-size: 12px;
}

.page-footer__link {
    margin: 0 5px;
    color: white;
}



.first-slide__background {
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
}

.first-slide__content {
    max-width: 850px;
}

@media (min-width: 768px) {
    .first-slide__content {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .first-slide__content {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .first-slide__content {
        width: 940px;
    }
}
